.profile__edit-button {
  color: white;
  height: 18px;
  width: 18px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 27px;
  background: transparent url('../../../images/Edit_Button.svg') center no-repeat;
  border: 1px solid #fff;
}

.profile__edit-button:hover {
  opacity: 0.6;
}


@media screen and (min-width: 1024px) {
  .profile__edit-button {
    text-align: left;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-top: 47px;

  }

}