.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 35px 0;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .profile {
    flex-direction: row;
    
  }
  
}