.profile__title {
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .profile__title {
    padding-left: 33px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__title {
    text-align: left;
    font-size: 42px;
    line-height: 48px;
    padding-left: 27px;
  }
  
}