.element {
  display: grid;
  grid-template-columns: minmax(282px, 1fr);
  gap: 20px;
  align-items: center;
  max-width: 282px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .element {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: calc(282px * 3 + 40px);
  }

}

@media screen and (min-width: 1024px) {
  .element {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
}