.element__button-like {
  background-image: url(../../../images/like.svg);
  width: 21px;
  height: 21px;
  background-size: contain;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 25px;
}

.element__button-like:hover {
  opacity: 0.6;
  cursor: pointer;
}
